#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Make the parent container relative so the canvas can be positioned absolute */
.video-container {
  position: relative;
  width: 340px; /* Match video and canvas width */
  height: 340px; /* Match video and canvas height */
}

/* Set the video element to fill the parent container */
video {
  width: 100%;
  height: 100%;
}

/* Set the canvas to be absolutely positioned on top of the video */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Prevent canvas from interfering with video interaction */
}
